:root{
  --top-card: none;
  --left-card: none;
  --destination: none;
  --primary-color: #180485;
  --secondary-color: #8B81C1;
  --font-color: #faebd7;
  --round-corner: 100vh;
}

*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background: rgb(203, 213, 224);
  border-radius: var(--round-corner);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(237, 242, 247);
  border-image: initial;
}
::-webkit-scrollbar-track {
  border-radius: var(--round-corner);
  background: rgb(237, 242, 247);
}

.no-scroll{
  overflow: hidden;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: transparent;
}

.navbar{
  background: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
}

.form{
  position: relative;
}

.searchbar{
  margin: auto 40px;
  width: 250px;
}

input[type= "search"]{
  border-radius: var(--round-corner);
  width: 100%;
  border: none;
}

.search-button{
  height: 140%;
    width: 20%;
    background: var(--secondary-color);
    position: absolute;
    border-bottom-right-radius: var(--round-corner);
    border-top-right-radius: var(--round-corner);
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.search-icon{
  margin: auto;
    height: 100%;
    color: var(--font-color);
    width: 100%;
}

.cart-icon{
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.cart-icon > svg{
  height: 30px;
  width: 30px;
  color: var(--font-color);
}

.cart-icon::after{
  content: attr(data-qty);
  text-align: center;
  color: var(--font-color);
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.configbar{
  background: var(--primary-color);
  display: flex;
  width: 90%;
  height: 40px;
  margin: 5rem auto 0;
  border-radius: var(--round-corner);
  justify-content: flex-end;
  align-items: center;
  border: 1px white solid;
}

.category{
  display: flex;
  margin-right: 1em;
  gap: 1em;

}

select{
  border-radius: var(--round-corner);
  background: var(--primary-color);
  color: var(--font-color);
  border: none;
  cursor: pointer;
}

select:hover{
  border: 1px solid #faebd7;
}