.itemGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 5em;
  box-shadow: 5px 5px 20px 0px rgb(90 90 90 / 75%);
  width: 80%;
  margin: auto;
  margin-top: 2em;
}
.itemImage{
  width: 100%;
  height: 400px;
  grid-row-start: 1;
  grid-row-end: 6; 
  justify-self: center;
  position: relative;
  
}


.addToCart{
  background: black;
  border-radius: 1em;
  color: white;
  border: none;
  height: 2rem;
  width: 75%;
  margin: auto;
  cursor: pointer;
  background: #46216ec4;
}

.gridCentered{
  justify-self: center;
}

.itemQuantity{
  grid-row-start: 7;
  justify-self: center;
  display: flex;
  gap: 20px;
  background: #7a428d52;
  border-radius: 100vh;
  width: 10em;
  height: 3em;
  align-items: center;
  justify-content: center;
}

.quantityText{
  font-size: 2em;
}

.updateQuantity{
  background: black;
    color: beige;
    width: 2em;
    height: 2em;
    border-radius: 100vh;
    cursor: pointer;
}


.itemPrice{
  font-size: 18px;
  font-style: italic;
  font-family: fantasy;
}

.itemDescription{
  background: #7a428d26;
  text-align: center;
  border-radius: 1em;
  padding: 0.5em;
  font-style: oblique;
  font-family: cursive;
}

.itemRating{
}

.itemTitle>h2::before{
  content: open-quote;
}
.itemTitle>h2::after{
  content: close-quote;
}

@media (max-width: 700px) {
  .itemGrid{
    grid-template-columns: 1fr 1fr;
    padding: 5em 0px 0;    
    width: 95%;
  }

  .itemImage{
    height: 250px;
  }

  .itemPrice{
    grid-column: 2;
    grid-row: 7;
    text-align: center;
  }
  
  .itemTitle{
    width: 100%;
    text-align: center;
  }
  
  .addToCart{
    margin: auto;
    grid-row: 8;
  }
  
  .itemRating, .itemDescription, .itemTitle, .addToCart, .itemImage{
    grid-column: 1/ span 2;    
  }

  
}